API_URL=https://t***.com/api
CLIENT_ID=
CLIENT_SECRET=
HTTPS_PROXY=
CATALOG_PAIRS='[{"source":5,"destination":7}, {"source":6,"destination":8}]'
SITE_PAIRS='[{"source":x,"destination":y}, {"source":a,"destination":b}]'
PRIME_CATALOG=
MASTER_CATALOG=